.debug {
	display: none !important;
}
*{
font-family: monospace;
}
#landing{
	width: 100%;
	height: 100vh;
}
#banner{
	width: 100%;
	background-color: #252525;
	color: white;
	font-size: 10vw;
	font-weight: bold;
	text-align: center;
}
#landing-background {
	width: 100%;
	height: 100%;
	background-color: #B2E1F5;
	box-shadow: inset 0 0 20em 1em #444;
}
.centered {
	display: block;
	position: absolute;
	padding: 0px 5px;
	top: 30vh;
}
.centered *{
	text-align: center;
}
h1, p, #slide span {
	color: #ef7701;
	font-size: 7vw;
}
#controls{
	margin-top: 5vh;
}
#progress-wrapper{
	height: 1vh;
	width: 100%;
	background: white;
	border-bottom: 1px dashed gray;
}
#progress-bar{
	height: 100%;
	width: 0%;
	background: #ef7701;
}
#textEntry, #urlEntry{
	margin: 0;
	border: none;
	border-bottom: 1px dashed gray;
	padding: 0;
	resize: none;
	width: 100%;
	height: 6vw;
	vertical-align: middle;
	font-size: 5vw;
	float: left;
}
#goButton{
	width: 100%;
	margin: 0;
	border: 0;
	float: left;
	padding: 15px 0px;
	box-sizing: border-box;
	font-weight: bold;
	font-size: 5vw;
	cursor: pointer;
	background-color: #ef7701;
	box-shadow: inset 0 -0.25em rgba(256, 256, 256, 0.5);
}
/*
.---..-.   .-..--. .---..---. .---..---..---.
 \ \ | |__ | || \ \| |-  \ \  | |   \ \  \ \ 
`---'`----'`-'`-'-'`---'`---' `---'`---'`---'
*/
/* CSS for the left and right icons */
#slide-container{
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}
#slide {
	width: 80%;
	height: 80%;
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#slide span {
	font-size: 10vh;
  text-align: center;
  display: block;
  width: 100%;
}
#left, #right{
	width: 0;
	height: 0;
	padding: 0;
	border: 12px solid transparent;
	background-color: transparent;
	position: absolute;
	opacity: 0.7;
	bottom: 100px;
}
#left{
	border-right-width: 22px;
	border-right-color: #000;
	right: 75px;
}
#right{
	border-left-width: 22px;
	border-left-color: #000;
	right: 25px;
}

/* CSS for the close icon */
#close {
	position: absolute;
	right: 50px;
	top: 32px;
	width: 32px;
	height: 32px;
	opacity: 0.7;
	z-index: 2; /* Position it above RevealJS */
}
#close:before, #close:after {
	position: absolute;
	width: 4px;
	height: 33px;
	left: 15px;
	content: ' ';
	background-color: #000;
}
#close:before {
	transform: rotate(45deg);
}
#close:after {
	transform: rotate(-45deg);
}
/* necessary for jquery-textfill to work */
.slides section,
.slides section .textfill {
	height: 90%;
	width: 100%;
	box-sizing: border-box;
}
.slides section div span{
	color: #ef7701;
	font-size: 10vh;
}
/* Different looks for non-mobiles... */
@media (min-width: 800px){
	#banner{
			font-size: 3vw;
	}
	.centered {
		top: 15vh;
		width: 80vw;
		left: 10vw;
		padding: 0;
	}
	h1, p {
		font-size: 4vw;
	}
}
